@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|Lato:100,300,400);
/* ##########  */
/*   $GLOBAL   */
/* ##########  */
/* line 10, ../sass/typica-login.scss */
html {
  height: 100%;
}

/* line 13, ../sass/typica-login.scss */
body {
  background: url(../img/sam-login-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (min-width: 979px) {
  body {
    padding-top: 80px;
  }
}

.blue {
  color: #447fc8;
}

#login-wrapper {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
/*   position: absolute; */
/*   top: 50%; */
/*   left: 50%; */
  display: block;
/*   margin-top: -185px; */
/*   margin-left: -235px; */
  padding: 15px;
  max-width: 320px;
  height: 320px;
  background: white;
  border: 1px solid #f0f0f0;
  margin: 0 auto;
  float: none;
}

#login-wrapper .alert{
	margin-bottom: 5px;
}

.login-form .body {
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}

.login-form .footer {
  margin-top: 10px;
}

.login-form .footer .checkbox.inline {
  display: inline;
}

.login-form .footer .checkbox.inline input[type="checkbox"] {
  float: none;
  margin-top: -4px;
}

.login-form .footer .btn {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-left: 15px;
  padding: 7px 25px;
  background-image: none;
}

.inline {
	display: inline;
}

div.label-login {
	width: 300px;
	display: inline;
		
}

#content {
/* 	position: relative; */
/* 	margin-top: 10%; */
/* 	top: 50%; */
}

.center {
	text-align: center;
}